<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Leading the way</title>

    <link href="static/css/style.css" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <script src="script.js"></script>

    <div class="topnav">
      <a href="index.html">home.</a>
      <a href="news.html">news.</a>
      <a class="active" href="about.html">about.</a>
      <a href="contact.html">contact.</a>
      <a href="signup.html">get involved.</a>
    </div>

    <br>

    <h1>Our Mission</h1>

    <p style="padding-left: 20%; padding-right: 20%";>To help younger students catch up since they missed some of their fundamental years of growth in school. This could pertain to tutoring, sociallizing safely with other students, and bringing activites like sports back into their life.</p>

    <br>

    <h3>Watch this video published by the science magazine to learn more about how children will be and have been affected by the pandemic. This was filmed during the beginning of lockdown.</h3>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/nQ3TKGes99I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <br>



<div class="footer">
     <h3>let's keep in touch</h3>
    <p><a href="https://www.instagram.com/bel.amalia.m/?hl=en">
    <img src="assets/instagramlogo.jpg" alt="instagram.com" width="20" height="20">
    </a></p>
    </div>

  </body>
</html>
