{% extends "layout.html" %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Leading the way</title>

    {% block styles %}
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    {% endblock %}

  </head>
  <body>
    {% block scripts %}
    <script src="static/js/script.js"></script>
    {% endblock %}

    {% block content %}
    <br>

    <h1>Our Mission</h1>

    <p style="padding-left: 20%; padding-right: 20%";>To help younger students learn how to code with access to mentors
      and tutorials. Once you sign up there are availibites to tutors and many activities to help young students improve
      their skills and find their love in coding.</p>

    <br>

    <h3>Watch this video published the White House to show the importance of Computer Science in schools using the program
      Hour of Code, where students are guided through learning how to build games and apps.</h3>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/qZfrDLLja-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    {% endblock %}


  </body>
</html>
