<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Leading the way</title>

    <link href="static/css/style.css" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <script src="script.js"></script>

    <div class="topnav">
      <a href="index.html">home.</a>
      <a href="news.html">news.</a>
      <a href="about.html">about.</a>
      <a class="active" href="contact.html">contact.</a>
      <a href="signup.html">get involved.</a>
    </div>

    <br>

    <h1>Contact me with any questions</h1>

    <br>

    <form action="https://www.linkedin.com/in/isabel-amalia-maida-a174a718/">
      <input type="submit" value="Linkedin" />
    </form>

    <br>

    <form action="form.html">
      <input type="submit" value="Contact Me" />
    </form>

    <br>

<div class="footer">
     <h3>let's keep in touch</h3>
    <p><a href="https://www.instagram.com/bel.amalia.m/?hl=en">
    <img src="assets/instagramlogo.jpg" alt="instagram.com" width="20" height="20">
    </a></p>
    </div>

  </body>
</html>
