<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Leading the way</title>

    <link href="static/css/style.css" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <script src="script.js"></script>

    <div class="topnav">
      <a class="active" href="index.html">home.</a>
      <a href="news.html">news.</a>
      <a href="about.html">about.</a>
      <a href="contact.html">contact.</a>
      <a href="signup.html">get involved.</a>
    </div>

    <h3>Contact Form</h3>

    <div class="container">
     <form action="mailto:isabel.maida@gmail.com"
     method="POST"
     enctype="multipart/form-data"
     name="EmailForm">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="First Name">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Last Name">

        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Email Address">

        <label for="pronouns">Pronouns</label>
        <input type="text" id="pronouns" name="pronouns" placeholder="Preferred Pronouns">

        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
          <option value="spain">Spain</option>
          <option value="cuba">Cuba</option>
          <option value="mexico">Mexico</option>
        </select>

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
