{% extends "layout.html" %}

<!doctype html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Lets Learn to Code!</title>

    {% block styles %}
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    {% endblock %}

  </head>
  <body>
    {% block scripts %}
    <script src="static/js/script.js"></script>
    {% endblock %}

{% block content %}
<div class="index-img">
  <div class="text-block">
    <h4>there is limited access for computer science in schools</h4>
    <p>together we can allow free options with mentors to help students</p>
      <p>sign up today!</p>
  </div>
</div>

    <br>

    <div class="header">
      <h1 style="font-family:verdana">learn to code.</h1>
      <p>This platform will allow for younger students to not only have access to materials and thing to create,
        there will be mentors to help along the way. These mentors consist of high school to college
        graduates and will be able to guide the student through problems. As well as this there is a news page that includes
        news about the technology world that is good to know, especially at a young age.</p>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}

  </body>
</html>
