{% extends "layout.html" %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Leading the way</title>

    {% block style %}
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    {% endblock %}

  </head>
  <body>
    {% block scripts %}
    <script src="static/js/script.js"></script>
    {% endblock %}

    <br>

<div id="container">
    <button id="btn" onclick="generateFacts()">click me for a fact!</button>
    <br>
    <div id="here">
    </div>
  </div>

<br>

{% block content %}
<div class="header">
  <h2>news of the tech world.</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>The Dangers of Social Media</h2>
      <h5>Everyone now are using platforms but do not know the real consequences, Dec 22, 2022</h5>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>other news sources.</h2>
      <form action="https://www.sciencedaily.com/news/computers_math/computer_science/">
        <input type="submit" value="Science Daily" />
      </form>
      <br>
      <form action="https://news.mit.edu/topic/computers">
        <input type="submit" value="MIT News" />
      </form>
    </div>
    <div class="card">
      <h3>popular posts.</h3>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>
{% endblock %}

    <br>

  </body>
</html>
